#[neopixel frame_lights]
#pin: PG14 # Replace with your actual signal pin
#chain_count: 60 # Count the exact number of LEDs on your strip
#color_order: GRB
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0

# [output_pin signal_tester]
# pin: PG14 # Use your actual LED data pin here
# value: 0